{% load  staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>404 page not found || Witter Multipage Responsive Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
        <!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300' rel='stylesheet' type='text/css'>

		<!-- all css here -->
		{% include 'base/cssLink.html' %}
    </head>
    <body>


        <!-- Add your site or application content here -->
        <!--Header Area Start-->
        {% include 'base/header.html' %}
        <!--Header Area End-->

        <!-- Breadcrumbs Area Start -->
        <div class="breadcrumbs-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <div class="breadcrumbs">
					       <h2>404 Page</h2> 
					       <ul class="breadcrumbs-list">
						        <li>
						            <a title="Return to Home" href="index.html">Home</a>
						        </li>
						        <li>404 page</li>
						    </ul>
					    </div>
					</div>
				</div>
			</div>
		</div> 
		<!-- Breadcrumbs Area Start --> 
        <!-- 404 Error Page Start -->
        <div class="error-text-area section-padding">
			<img alt="" src="img/404-page.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="error-text text-center">
							<h1>OPPS! PAGE NOT FOUND</h1>
							<a href="index.html">BACK TO HOME PAGE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
       <!-- 404 Error Page End -->
		<!-- Footer Area Start -->
		{% include 'base/footer.html' %}
		<!-- Footer Area End -->
		<!-- all js here -->
		{% include 'base/javascriptLink.html' %}
    </body>
</html>