	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/04/2016 05:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-delete:before { content: "\f103"; }
.flaticon-interface:before { content: "\f104"; }
.flaticon-location:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-networking:before { content: "\f107"; }
.flaticon-people:before { content: "\f108"; }
.flaticon-people-1:before { content: "\f109"; }
.flaticon-school:before { content: "\f10a"; }
.flaticon-school-1:before { content: "\f10b"; }
.flaticon-shop:before { content: "\f10c"; }
.flaticon-social:before { content: "\f10d"; }
.flaticon-social-1:before { content: "\f10e"; }
.flaticon-social-2:before { content: "\f10f"; }
.flaticon-technology:before { content: "\f110"; }
.flaticon-telephone:before { content: "\f111"; }
.flaticon-transport:before { content: "\f112"; }
.flaticon-video:before { content: "\f113"; }
.flaticon-web:before { content: "\f114"; }